{% extends "index.html" %}
{% block content %}
<form method="post">
  <div class="form_group">
    <label for="inputLogin">Login</label>
    <input type="email" class="form-control" id="inputLogin" name="inputLogin" placeholder="Email" required="true">
  </div>
  <div class="form_group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password" required="true">
  </div></br>
  {{ captcha }}
  </br>
  <button name="submit" type="submit" class="btn btn-default">Submit</button>
  <div id="error">{{ error }}</div>
</form>
{% endblock %}
