<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Dojo Day 2017</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h2>Python + Unittest + Flask + Bootstrap + HTML + Selenium</h2>
        <p>Como testar sua aplicação web sem precisar ficar clicando 100x na sua aplicação para achar algum erro?</p>
      </div>
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
